extends ../portfolio
block portfolio-item
  h1 Syn~
  p
    | I worked for 7 years for GBST and spent the vast
    | majority of that time as a web developer. I was
    | responsible for architecting the web solution.
  p
    | The Syn~ web framework allowed developers to create
    | custom web screens for individual types within the
    | system, but ensured a more standardised look.