h1 Ombudz
p
  | Ombudz is an online chat program that puts 
  | you in contact with a total stranger. You 
  | are able to choose topics you don't wish to
  | talk about, but after that - its up to you!