extends partialLayout
block main-content
    ul
        each val in posts
            li
                h2
                    -var blogEntry = val.contentDir
                    a(ng-href='/blog/' + blogEntry)= val.title
                p= val.description
                p.pull-right= val.date
            