extends content
block main-content
  ul#blog-posts
    li(ng-repeat='post in model.posts')
      h2
        a(ng-href='/blog/{{post.url}}') {{ post.title }}
      markdown(ng-model='post.stub')
      .pull-right {{ post.date }}