extends partialLayout
block main-content
  ul
    each val in posts
      li
        h2
          -var blogEntry = val.url
          a(ng-href='/blog/' + blogEntry)= val.title
        p= val.stub
        p.pull-right= val.date