section#blog
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Blog
        h3.section-subheading.text-muted Musings on Web Development
        a.page-scroll.btn.btn-xl(href='/blog') Read the blog