extends ../layouts/content
block main-content
  .row
    .col-sm-12
      p
        | Just want to say hi? The best place to reach me is via Twitter
        | via my handle <a href='https://twitter.com/garethdhughes'>@garethdhughes</a>.
      p
        | For more information about the services I can offer, or to discuss working
        | on a project with me, just fill out the form below and I shall aim to
        | reply promptly - I'm usually pretty quick!
  .row
    .col-sm-12
      .form-area(ui-view)