doctype
// Header
header
  .container
    .intro-text
      .intro-lead-in gareth hughes
      .intro-heading MEAN Web Developer
      //- a.btn.btn-xl(gh-scrolling-anchor href='#services') Tell Me More
    a.next-section-arrow(gh-scrolling-anchor href='#services')
      span.fa-stack.fafa-4x
        i.fa.fa-circle.fa-stack-2x.text-primary
        i.fa.fa-angle-down.fa-stack-1x.fa-inverse
          
// Page Content
section#services
  .container.text-center
    .row
      .col-lg-12.text-center
        h2.section-heading Services
        h3.section-subheading.text-muted What can I offer?
    .row.text-center
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-code-fork.fa-stack-1x.fa-inverse
        h4.service-heading One MEAN Developer
        p
          | With websites becoming increasingly complex and often integrating
          | live or personalised data, it is essential to ensure your
          | <i>application</i> can both convey your offering and engage your 
          | visitors. With an understanding how a site can communicate with 
          | other services and how best to use these, I can help you to create 
          | a truly interactive experience for your users.
        p
          | I am a big fan of the MEAN Javascript stack and am constantly 
          | striving to learn new technologies in order to stay at
          | the forefront of an evolving sector. This ensures that I always
          | choose the best tool for the job, and has also inspired some 
          | personal creative projects.
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-laptop.fa-stack-1x.fa-inverse
        h4.service-heading Design and Conquer
        p
          | Having a fantastic interactive web application is great, but if it
          | doesn't look good then nobody will want to stay for long. With an 
          | eye for detail*, as well as technologies such as Bootstrap, HTML5
          | and CSS3, I will make sure that your application not only does the
          | job, but looks great too.
        p.text-muted
          | * and a reputation for pixel counting!
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
        h4.service-heading Consultancy
        p
          | As someone who enjoys learning new skills and technologies, I am 
          | also keen to share this knowledge with others. My experience of
          | training and mentoring others in a professional capacity has also 
          | led me to volunteer with Enrych Berkshire to teach people with 
          | disabilities new skills.
    a.next-section-arrow(gh-scrolling-anchor href='#portfolio')
      span.fa-stack.fafa-4x
        i.fa.fa-circle.fa-stack-2x.text-primary
        i.fa.fa-angle-down.fa-stack-1x.fa-inverse
