doctype
// Page Content
section#services
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Services
        h3.section-subheading.text-muted This is an overview of the stuff I do
    .row.text-center
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-code-fork.fa-stack-1x.fa-inverse
        h4.service-heading One MEAN Developer
        p
          | I am a MEAN Web Developer. MEAN is an acronym for MongoDB, Express,
          | Angular, Node - a full stack of technologies that allow me to
          | create powerful web applications.
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-laptop.fa-stack-1x.fa-inverse
        h4.service-heading Design and Conquer
        p
          | Having a fantastic interactive web application is great, but if it
          | doesn't look good then nobody will want to stay for long. With an 
          | eye for detail*, as well as technologies such as Bootstrap, HTML5
          | and CSS3, I will make sure that your application not only does the
          | job, but looks great too.
        p.text-muted
          | * and a reputation for pixel counting!
      .col-md-4
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa.fa-graduation-cap.fa-stack-1x.fa-inverse
        h4.service-heading Consultancy
        p
          | I am a MEAN Web Developer. MEAN is an acronym for MongoDB, Express,
          | Angular, Node - a full stack of technologies that allow me to
          | create powerful web applications.
          
section#portfolio.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Portfolio
        h3.section-subheading.text-muted Some examples of my work.

    .row
      .col-md-4.col-md-push-4.col-sm-6.col-sm-push-3.portfolio-item
        a(href='/portfolio/gbst-syn').portfolio-link
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-responsive(src='http://res.cloudinary.com/gurrkin/image/upload/c_scale,w_400/v1422541316/portfolio/gbst-syn/syn_logo.png' alt='')
        .portfolio-caption
          h4 Syn~
          p.text-muted Full stack Java application

section#blog
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Blog
        h3.section-subheading.text-muted Musings on Web Development
        a.page-scroll.btn.btn-xl(href='/blog') Read the blog