extend contentJumbo
block jumbotron-content
  .intro.pull-left
    p
      | I am an Oxfordshire based freelance web developer specialising in both
      | front and back end web apps.
  .blurb.pull-right
    p
      | I have over seven years experience working with security conscious 
      | multi-national clients to develop large scale web apps. I also enjoy 
      | helping individuals and small businesses devise neat solutions to their
      | web needs.
    p
      | No matter the scale of your project, my aim is to work closely with
      | you to find and develop the most effective solution. If you'd like to
      | find out how I can help, just get in touch!
  .clearfix
block main-content
  section#concepts
    .row
      .col-sm-6
        article
          h3 Web development
          p
            | As websites are becoming increasingly complex and often integrate
            | live or personalised data, it is essential to ensure your website
            | can both convey your offering and engage your visitors.
          p
            | I understand how your site can communicate with other services, 
            | and how best to use these to create a truly interactive 
            | experience for your users.
          p
            | I am constantly striving to learn new technologies, so that I can
            | not only ensure that I use the best tool for any particular job, 
            | but so that I can remain at the forefront of the latest, coolest
            | developments in web technology. Head over to the <a href='/play'>
            | Play!</a> section for some examples of this.
      .col-sm-6         
        article
          h3 Web design
          p
            | Having a fantastically interactive website is great, but if it 
            | doesn't look good, then nobody is going to want to stay for long.
            | With a good eye for detail, as well as knowledge of the latest
            | browser technologies such as HTML5 and CSS3, I will make sure
            | that your site not only does the job, but looks the part too.
        article
          h3 Volunteer work
          p
            | I currently volunteer with Enrych Berkshire to help people with 
            | disabilities learn new skills.
  section#technologies
    .row
      .col-sm-12
        h3 Technologies I use
        img(src='/images/technologies/nodejs-dark.png')
        img(src='/images/technologies/AngularJS-large.png')