extend partialLayout
block jumbotron-content
    .intro.pull-left
        h1 Who am I?
            br
            small Oxfordshire based Web Dev
    .blurb.pull-right
        p
            | I am a freelance web developer specialising
            | in front-end and back-end web applications.
        p   
            | I have a lot of experience on large scale
            | web apps and basically just kick ass.
    .clearfix
block main-content
    section
        .row
            .col-sm-6
                article
                    h3 Back-end web development
                    p
                        | Vivamus hendrerit arcu sed erat molestie
                        | vehicula. Sed auctor neque eu tellus
                        | rhoncus ut eleifend nibh porttitor. Ut in.
                    p
                        | This is my specialist area and one that I
                        | have the most experience in. I have a good
                        | knowledge of how a front-end can communicate
                        | with many different back-end systems. Blah
                        | blah blah. I think I need to put some real
                        | thought in to what I am going to fill these
                        | paragraphs with to really sell myself.
            .col-sm-6
                article
                    h3 Front-end web development
                    p
                        | Donec congue lacinia dui, a porttitor
                        | lectus condimentum laoreet. Nunc eu
                        | ullamcorper orci. Quisque eget odio ac
                        | lectus vestibulum faucibus eget in metus.
                        | In pellentesque faucibus vestibulum. Nulla
                        | at nulla justo, eget luctus tortor.
                article
                    h3 Web design
                    p
                        | As well as being proficient in development
                        | I also have skills in design. I don't do
                        | logos and the like, but I do have an eye
                        | for detail.
    section#technologies
        .row
            .col-sm-12
                h3 Technologies I use
                img(src='/images/technologies/nodejs-dark.png')
                img(src='/images/technologies/AngularJS-large.png')