doctype
// Header
header
  .container
    .intro-text
      .intro-lead-in gareth hughes
      .intro-heading MEAN Web Developer
      a.page-scroll.btn.btn-xl(href='#services') Tell Me More

// Page Content
section#services
  .container
    .row
      .col-lg-5.col-sm-6
        hr.section-heading-spacer
        .clearfix
        h2.section-heading One MEAN Developer
        p.lead 
          | I am a MEAN Web Developer. MEAN is an acronym for MongoDB, Express,
          | Angular, Node - a full stack of technologies that allow me to
          | create powerful web applications.
      col-lg-5.col-lg-offset-2.col-sm-6
        img.img-responsive(src='img/ipad.png' alt='')

section#portfolio.bg-light-gray
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        hr.section-heading-spacer
        .clearfix
        h2.section-heading Design and Conquer
        p.lead 
          | Having a fantastic interactive web application is great, but if it
          | doesn't look good then nobody will want to stay for long. With an 
          | eye for detail*, as well as technologies such as Bootstrap, HTML5
          | and CSS3, I will make sure that your application not only does the
          | job, but looks great too.
        p.small
          | * and a reputation for pixel counting!
      .col-lg-5.col-sm-pull-6.col-sm-6
        img.img-responsive(src='img/dog.png' alt='')

.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        hr.section-heading-spacer
        .clearfix
        h2.section-heading Google Web Fonts and<br>Font Awesome Icons
        p.lead 
          | This template features the 'Lato' font, part of the <a href="http://www.google.com/fonts">Google Web Font library</a>
          | , as well as <a href="http://fontawesome.io">icons from Font
          | Awesome</a>.
      .col-lg-5.col-lg-offset-2.col-sm-6
        img.img-responsive(src='img/phones.png' alt='')

a(name='contact')
.banner
  .container
    .row
      .col-lg-6
        h2 Get in touch:
      .col-lg-6
        ul.list-inline.banner-social-buttons
          li(ng-repeat='socialLink in socialLinks')
            a.btn.btn-default.btn-lg(href='{{ socialLink.link }}')
              i.fa.fa-fw(class='{{ socialLink.icon }}')
              span.network-name {{ socialLink.networkName }}

// Footer
footer
  .container
    .row
      .col-lg-12
        ul.list-inline
          li
            a(href='#') Home
          li.footer-menu-divider &sdot;
          li
            a(href='#about') About
          li.footer-menu-divider &sdot;
          li
            a(href='#services') Services
          li.footer-menu-divider &sdot;
          li
            a(href='#contact') Contact
        p.copyright.text-muted.small Copyright &copy; Gareth Hughes 2014. All Rights Reserved