extend ../layouts/contentJumbo
block jumbotron-content
  .intro.pull-left
    p
      | I am an Oxfordshire based freelance web developer specialising in both
      | frontend and backend web apps.
  .blurb.pull-right
    p
      | I have over seven years experience working with security conscious 
      | multi-national clients to develop large scale web apps. I also enjoy 
      | helping individuals and small businesses devise neat solutions to their
      | web needs.
    p
      | No matter the scale of your project, my aim is to work closely with
      | you to find and develop the most effective solution. If you'd like to
      | find out how I can help, just get in touch!
  .clearfix
block main-content
  section#concepts
    .row
      .col-sm-6
        article
          h3 Web development
          p
            | As websites are becoming increasingly complex and often integrate
            | live or personalised data, it is essential to ensure your website
            | can both convey your offering and engage your visitors.
          p
            | I understand how a site can communicate with other services, and 
            | how best to use these to create a truly interactive experience 
            | for your users.
          p
            | I am constantly striving to learn new technologies, to stay at
            | the forefront of an evolving section. This ensures that I always
            | choose the best tool for the job, as well as inspiring some 
            | personal creative projects - head over to the <a href='/play'>
            | Play!</a> section to view some examples.
      .col-sm-6         
        article
          h3 Web design
          p
            | Having a fantastic interactive website is great, but if it 
            | doesn't look good nobody will want to stay for long. With a good
            | eye for detail, as well as knowledge of the latest browser
            | technologies such as HTML5 and CSS3, I will make sure that your
            | site not only does the job, but looks great too.
        article
          h3 Volunteer work
          p
            | I am keen to share my knowledge with others and currently
            | volunteer with Enrych Berkshire to teach people with disabilities
            | new skills.