extend contentJumbo
block jumbotron-content
  .intro.pull-left
    p
      | I am an Oxfordshire based freelance web developer specialising in both
      | front and back end web apps.
  .blurb.pull-right
    p
      | I have over seven years experience working with security conscious 
      | multi-national clients to develop large scale web apps. I also enjoy 
      | helping individuals and small businesses devise neat solutions to their
      | web needs.
    p
      | No matter the scale of your project, my aim is to work closely with
      | you to find and develop the most effective solution. If you'd like to
      | find out how I can help, just get in touch!
  .clearfix
block main-content
  section#concepts
    .row
      .col-sm-6
        article
          h3 Web development
          p
            | As websites are becoming increasingly complex and often integrate
            | live or personalised data, it is essential to ensure your website
            | can both convey your offering and engage your visitors.
          p
            | I understand how your site can communicate with other services, 
            | and how best to use these to create a truly interactive 
            | experience for your users.
          p
            | I am constantly striving to learn new technologies, so that I can
            | not only ensure that I use the best tool for any particular job, 
            | but so that I can remain at the forefront of the latest, coolest
            | developments in web technology.
      .col-sm-6         
        article
          h3 Web design
          p
            | As well as being proficient in development
            | I also have skills in design. I don't do
            | logos and the like, but I do have an eye
            | for detail.
        article
          h3 Volunteering
          p
            | I currently volunteer with Enrych Berkshire
            | and help people with disabilities learn new 
            | skills.
  section#technologies
    .row
      .col-sm-12
        h3 Technologies I use
        img(src='/images/technologies/nodejs-dark.png')
        img(src='/images/technologies/AngularJS-large.png')