section#portfolio.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Portfolio
        h3.section-subheading.text-muted Some examples of my work.
    .row
      gh-portfolio-item