extends layouts/content
block main-content
  section#portfolio-items
    .row
      .col-sm-12
        fa-app(style='height: 160px;')
          fa-modifier
            fa-surface(fa-background-color="'#FA5C4F'")
              | hello world
      //.col-sm-4(ng-repeat='portfolioLink in portfolioLinks')
        //a(ui-sref='.item({ id: portfolioLink.link })')
          //img(ng-src='{{ portfolioLink.image }}')
  section#portfolio-item(ng-show='isShowPortfolioItem()')
    .row
      .col-sm-12
        article#portfolio-item-detail(ui-view)