extends contentJumbo
block jumbotron-content
  h1 Portfolio
    br
    small Some examples of my work
block main-content
  section#portfolio-items
    .row
      .col-sm-4
        a(ui-sref='.item({ id: \'gbst-syn\' })')
          img(src='/images/portfolio/syn-logo.png')
      .col-sm-4
        a(ng-href='/portfolio/ombudz')
          img(src='/images/portfolio/syn-logo.png')
      .col-sm-4
        a(ng-href='/portfolio/ombudz')
          img(src='/images/portfolio/syn-logo.png')
  section#portfolio-item-detail(ng-show='isShowPortfolioItem()')
    .row
      .col-sm-12
        .test(ui-view)
