extends partialLayout
block jumbotron-content
    h1 Portfolio
        br
        small Some examples of my work
block main-content
    section#portfolio-items
        .row
            .col-sm-4
                a(ng-href='/portfolio/gbst-syn', ng-click=('showPortfolioItem()'))
                    img(src='/images/portfolio/syn-logo.png')
            .col-sm-4
                a(ng-href='/portfolio/ombudz', ng-click=('showPortfolioItem()'))
                    img(src='/images/portfolio/syn-logo.png')
            .col-sm-4
                a(ng-href='/portfolio/ombudz', ng-click=('showPortfolioItem()'))
                    img(src='/images/portfolio/syn-logo.png')
        .row
            .col-sm-4.col-sm-offset-4 
                button.btn.btn-info.center-block View more...
    section#portfolio-item-detail(ng-show='isShowPortfolioItem()')
        .row
            .col-sm-12
                block portfolio-item
