extends layouts/content
block main-content
  section#portfolio-items
    .row
      .col-sm-4
        a(ui-sref='.item({ id: \'gbst-syn\' })')
          img(src='/images/portfolio/syn_logo.png')
      .col-sm-4
        a(ui-sref='.item({ id: \'gbst-syn\' })')
          img(src='/images/portfolio/syn_logo.png')
      .col-sm-4
        a(ui-sref='.item({ id: \'gbst-syn\' })')
          img(src='/images/portfolio/syn_logo.png')
  section#portfolio-item(ng-show='isShowPortfolioItem()')
    .row
      .col-sm-12
        article#portfolio-item-detail(ui-view)