extends ../layouts/content
block main-content
  section#technologies
    .row
      .col-sm-3
        img(src='http://res.cloudinary.com/gurrkin/image/upload/v1422541261/mongodb_akyvlr.png').mongo
      .col-sm-3
        img(src='http://res.cloudinary.com/gurrkin/image/upload/v1422541261/express_vcnkbh.png').express
      .col-sm-3
        img(src='http://res.cloudinary.com/gurrkin/image/upload/v1422541261/angularjs_ogedpl.png').angular
      .col-sm-3
        img(src='http://res.cloudinary.com/gurrkin/image/upload/v1422541262/nodejs_mc9icc.png').node
  section#skills
    .row
      .col-sm-6
        article
          h3 Web development
          ul
            li Javascript
            li AngularJS
            li NodeJS
            li ExpressJS
            li MongoDB
            li Java
            li Google Web Toolkit
      .col-sm-6         
        article
          h3 Web design 
          ul
            li HTML (including HTML5)
            li CSS (including CSS3 and various CSS preprocessors including Stylus)
            li Bootstrap