extends ../layouts/content
block main-content
  section#technologies
    .row
      .col-sm-12
        h3 Technologies I use
        img(src='/images/technologies/nodejs-dark.png')
        img(src='/images/technologies/AngularJS-large.png')
  section#skills
    .row
      .col-sm-6
        article
          h3 Web development
          ul
            li NodeJS
            li ExpressJS
            li MongoDB
            li Java
            li Google Web Toolkit
      .col-sm-6         
        article
          h3 Web design 
          ul
            li HTML (including HTML5)
            li CSS (including CSS3 and various CSS preprocessors including Stylus)
            li Javascript
            li AngularJS
            li Bootstrap