extends ../layouts/content
block main-content
  section#technologies
    .row
      .col-sm-3
        img(src='/images/technologies/mongodb.png').mongo
      .col-sm-3
        img(src='/images/technologies/express.png').express
      .col-sm-3
        img(src='/images/technologies/angularjs.png').angular
      .col-sm-3
        img(src='/images/technologies/nodejs.png').node
  section#skills
    .row
      .col-sm-6
        article
          h3 Web development
          ul
            li Javascript
            li AngularJS
            li NodeJS
            li ExpressJS
            li MongoDB
            li Java
            li Google Web Toolkit
      .col-sm-6         
        article
          h3 Web design 
          ul
            li HTML (including HTML5)
            li CSS (including CSS3 and various CSS preprocessors including Stylus)
            li Bootstrap