fa-app(style='height: 440px')#contact-form
  fa-modifier(fa-opacity='exitOpacity.get()')
    fa-surface
      form(ng-submit='submit(contactForm)' id='contact-form' method='POST' role='form' name='contactForm' novalidate)
        .form-group
          label(for='enquiry_name') Name*
          input.form-control(ng-model='formData.enquiry_name' type='text' name='enquiry_name')
          span.form-validation-help(ng-show='errors.enquiry_name') {{ errors.enquiry_name }}
        .form-group
          label(for='enquiry_email') Email*
          input.form-control(ng-model='formData.enquiry_email' type='email' name='enquiry_email')
          span.form-validation-help(ng-show='errors.enquiry_email') {{ errors.enquiry_email }}
        .form-group
          label(for='enquiry_subject') Subject
          input.form-control(ng-model='formData.enquiry_subject' type='text' name='enquiry_subject')
        .form-group
          label(for='enquiry_message') Message*
          textarea.form-control(ng-model='formData.enquiry_message' type='text' name='enquiry_message' rows='5')
          span.form-validation-help(ng-show='errors.enquiry_message') {{ errors.enquiry_message }}
        .form-group.vkemail
          label(for='email') Email (Voight-Kampff Test)
          input.form-control(ng-model='formData.email' type='email' name='email')
        button.btn.btn-info.center-block(type='submit' ng-disabled='contactForm.$invalid || submitted') Submit!