fa-app(style='height: 200px')
  fa-modifier(fa-opacity='entryOpacity.get()')
    fa-surface.centre-text
      i.fa.fa-check.fa-5x
      p Your query has been sent and I will get back to you as soon as possible.