fa-app(style='height: 200px')#contact-success
  fa-modifier(fa-opacity='entryOpacity.get()')
    fa-surface
      i.fa.fa-check.fa-4x
      p Your query has been sent and I will get back to you as soon as possible.