doctype
html(ng-app='GHApp' ng-controller='GHCtrl')
  head
    title(ng-bind='PageFactory.title()')
    base(href='/')
    // famo.us shims for backwards compatibility
    script(src='http://code.famo.us/lib/functionPrototypeBind.js')
    script(src='http://code.famo.us/lib/classList.js')
    script(src='http://code.famo.us/lib/requestAnimationFrame.js')
    // bower modules
    link(rel='stylesheet' href='/stylesheets/_bower.css')
    script(src='/javascripts/_bower.js')
    // font-awesome
    link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    // app
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='/javascripts/gh.min.js')
  body
    .wrapper
      header
        h1.pull-left gareth hughes
        #social-links.pull-right
          ul
            li(ng-repeat='socialLink in socialLinks')
              a(href='{{ socialLink.link }}')
                i.fa(class='{{ socialLink.icon }}')
        .clearfix
        .separator
        nav#site-links.pull-right
          ul
            li(ng-repeat='siteLink in siteLinks')
              a(ui-sref='{{ siteLink.link }}') {{ siteLink.name }}
        .clearfix
      .content-view(ui-view)
      .push
    footer
      p Running on node.js with Express, Jade and Stylus