doctype
html(lang='en' ng-app='GHApp' ng-controller='GHCtrl')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='')
    
    base(href='/')
    
    title(ng-bind='PageFactory.title()')
    
    // Bower CSS
    link(href='/stylesheets/_bower.css' rel='stylesheet')
    
    // Bower Javascripts
    script(src='/javascripts/_bower.js')
    
    // Custom CSS#
    link(href='/stylesheets/landing-page.css' rel='stylesheet')
    link(href='/stylesheets/style.css' rel='stylesheet')
    
    // Custom Fonts
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet')
    
    // Angular App
    script(src='/javascripts/gh.min.js')
    
  body
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top.topnav(role='navigation')
      .container.topnav
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.topnav(href='#') gareth hughes
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#about') About
            li
              a(href='#services') Services
            li
              a(href='#contact') Contact

    .content-view(ui-view)