extend layout
block top-content
    .intro.pull-left
        h1 Who am I?
            br
            small Oxfordshire based Web Dev
    .blurb.pull-right
        p
            | I am a freelance web developer specialising
            | in front-end and back-end web applications.
        p   
            | I have a lot of experience on large scale
            | web apps and basically just kick ass.
    .clearfix
block main-content
    p
        | Vivamus hendrerit arcu sed erat molestie
        | vehicula. Sed auctor neque eu tellus
        | rhoncus ut eleifend nibh porttitor. Ut in.
    p
        | Donec congue lacinia dui, a porttitor
        | lectus condimentum laoreet. Nunc eu
        | ullamcorper orci. Quisque eget odio ac
        | lectus vestibulum faucibus eget in metus.
        | In pellentesque faucibus vestibulum. Nulla
        | at nulla justo, eget luctus tortor.
    .widget
        h1 Widget
        p
            | Sed auctor neque eu tellus rhoncus ut
            | eleifend nibh porttitor. Ut in nulla enim.
        p
            | Vivamus hendrerit arcu sed erat molestie
            | vehicula.