doctype
html(ng-app='GHApp' ng-controller='GHCtrl')
  head
    title(ng-bind='PageFactory.title()')
    base(href='/')
    link(rel='stylesheet', href='/stylesheets/_bower.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    script(src='/javascripts/_bower.js')
    script(src='/javascripts/gh.min.js')
    script(src='https://www.google.com/recaptcha/api.js' async defer)
  body
    header
      h1.pull-left gareth hughes
      #social-links.pull-right
        ul
          li(ng-repeat='socialLink in socialLinks')
            a(href='{{ socialLink.link }}')
              i.fa(class='{{ socialLink.icon }}')
      .clearfix
      .separator
      nav#site-links.pull-right
        ul
          li(ng-repeat='siteLink in siteLinks')
            a(ui-sref='{{ siteLink.link }}') {{ siteLink.name }}
      .clearfix
    .angular-view(ui-view)
    footer
      p Running on node.js with Express, Jade and Stylus