.container
    .jumbotron
        border-radius 0px

.jumbotron
    background-color background-color
    border-bottom 1px solid darken(main-color, 30%)

    h1
        margin-top 0px
    
    .intro
        width 45%
        @media screen and (max-width: 991px)
            width 100%

    .blurb
        width 50%
        @media screen and (max-width: 991px)
            width 100%