.col-md-4.col-md-push-4.col-sm-6.col-sm-push-3.portfolio-item
  a(href='/portfolio/gbst-syn').portfolio-link
    .portfolio-hover
      .portfolio-hover-content
        i.fa.fa-plus.fa-3x
    img.img-responsive(src='http://res.cloudinary.com/gurrkin/image/upload/c_scale,w_400/v1422541316/portfolio/gbst-syn/syn_logo.png' alt='')
  .portfolio-caption
    h4 Syn~
    p.text-muted Full stack Java application