extends ../../views/partials/partialLayout
block main-content
    :markdown
        Blogging with Node.js
        =====================
    
        Test blog entry number 1
    
        This is a little bit more of an expansion to try and test to see if I can get this Jade include thing to work for me.
        
        This also features the use of *Markdown* for, in theory, more intuitive writing of blog entries